@using OnlineStore.Models
@model ProductsModel

<table class="table">
    <tr class="firstRow">
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Location</th>
    </tr>
    <tr>
        <td>@Model.ProductId</td>
        <td>@Model.Name</td>
        <td>@Model.Description</td>
        <td>@Model.Price</td>
        <th>@Model.Location</th>
    </tr>
    <tr>
        <td><a class="btn btn-dark" asp-area="" asp-controller="Categories" asp-action="Categories">Back</a></td>
    </tr>
</table>