@using Homework1.Models
@model CategoryModel

<div><h1>@Model.CategoryName</h1></div>
<table class="table">
    <tr class="firstRow">
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>View</th>
    </tr>
    @foreach(var product in Model.Products)
    {
        <tr>
            <td>@product.Name</td>
            <td>@product.Description</td>
            <td>@product.Price</td>
            <td><a asp-area="" asp-contoller="Products" asp-controller="Products" asp-action="FindById" asp-route-specific="@product.ProductId">View</a></td>
        </tr>
    }
    <tr>
        <td><button class="btn btn-dark"><a class="nav-link text-white" asp-area="" asp-controller="Categories" asp-action="Categories">Back</a></button></td>
    </tr>

</table>