@model CartViewModel

<div><h1>Shopping Cart</h1></div>
<div class="container">
    <div  class="topnav-right">
        <a class="btn btn-dark" asp-area="" asp-controller="Order" asp-action="ViewOrderHistory">View Order History</a>
    </div>
</div>
<table class="table">
    <tr class="firstRow">
        <th>Name</th>
        <th>Price for 1 pc</th>
        <th>Quantity</th>
        <th>Total</th>
        <th></th>
    </tr>
    @if(Model.Items?.Count() > 0)
    {
        @foreach(var cartItem in Model.Items)
        {
            <tr>
                <td>@cartItem.Product.Name</td>
                <td>@cartItem.Product.Price</td>
                <td>@cartItem.Quantity</td>
                <td>@cartItem.ProductTotal.ToString("N2")</td>
                <td><a class="btn btn-dark small" asp-area="" asp-controller="Cart" asp-action="RemoveItem" asp-route-item=@cartItem.CartItemId>-</a>
                <a class="btn btn-dark small" asp-area="" asp-controller="Cart" asp-action="AddToCart" asp-route-product=@cartItem.ProductId>+</a></td>
            </tr>
        }
    }
        <tr>
            <td colspan="3"><h5 style="text-align:right"> Order total sum:</h5></td>
            <td>@Model.OrderTotal</td>
        </tr>
</table>

<div class="container">
    <div>        
        <div class="col align-self-start">
            <a class="btn btn-dark" asp-area="" asp-controller="Order" asp-action="PurchaseOrder">Purchase</a>
        </div>
    </div>
    <br />
    <div>        
        <div class="col align-self-start">
            <a class="btn btn-dark" asp-area="" asp-controller="Categories" asp-action="Categories">Back</a>
        </div>
    </div>
</div>
