    @model  OnlineStore.Models.HomeViewModel

    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          @foreach(var category in Model.CategoriesList)
          {
              <div class="list-group">
                <a class="list-group-item active bg-dark border-dark" asp-controller="Home" asp-action="Index">@category.CategoryName<span class="badge"></span></a>
                @foreach(var subCategory in category.SubCategories)
                {
                    <a class="list-group-item" asp-controller="Home" asp-action="Index" asp-route-selectedSubCategory="@subCategory.SubCategoryId">
                        @subCategory.SubCategoryName <span class="badge"></span></a>
                }

              </div>
          }
        </div>
        <div class="col-sm-8">
          <div>
            <div class="row">
            @if (Model.Products != null)
            {
                @foreach (var product in Model.Products)
                {
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img class="img-thumbnail" src="@Url.Content(product.Filepath)" alt="..."/>
                            <div class="caption text-center">
                                
                                    <h3>@product.Name</h3>
                                    <p>Price: <span>@product.Price</span></p>
                                    <form asp-controller="Cart" asp-action="AddToCart" method="post">
                                    <input name="quantity" type="number" class="form-control input-number" value="quantity" min="1">                     
                                    <br>
                                    <p><button class="btn btn-primary bg-dark border-dark" type="submit" asp-area="" 
                                        asp-controller="Cart" asp-action="AddToCart" asp-route-product=@product.ProductId >
                                        Add to cart</button></p>
                                    </form>
                            </div>
                        </div>
                    </div>
                }
            }
            </div>
          </div>
        </div>
      </div>
    </div>
